.App {
  text-align: center;
}

.App {
  text-align: center;
  margin: 20px;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

img {
  border-radius: 50%;
}

input {
  padding: 10px;
  margin-top: 20px;
  width: 80%;
  font-size: 16px;
  border-radius: 4px;
}

.loader {
  margin: 24px auto;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

/* Spin animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
